@font-face {
  font-family: Righteous;
  src: url(fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: Questrial;
  src: url(fonts/Questrial-Regular.ttf);
}


footer {
  background-color: black;
  color: white;
  font-family: Righteous;
  text-align: center;
  width: 100%;

}

body, html {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;

} 

figure {
  float: left;
  margin: 0px 5px 0px 0px;
}

img {
  width: 150px;
  height: 150px;
}

p {
  text-align: justify;
  margin: 0px 10px;
  font-family: Questrial;
}

main {
  margin-top: 0;
}

h1 {
  font-family: Righteous;
} 

.navbar {
  overflow: hidden;
  background-color: black;
  color: white;
}

.navbar a {
  color: white;
  float: left;
  text-align: center;
  text-decoration: none;
  font-family: Righteous;
  font-size: 16px;
  padding: 10px 12px;

}

.dropdown {
  float: left;
  overflow: hidden;

}

.dropdown .dropbtn {
  color: white;
  border: none;
  background-color: black;
  font-family: Righteous;
  outline: none;
  font-size: 16px;
  padding: 10px 12px;
}
 
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  background-color: white;
  padding: 10px 12px;
  font-size: 16px;
  display: block;
  text-decoration: none;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.back-link {
  text-decoration: none;
  font-family: Righteous;
  color: black;

}

.div-link {
  width: 100%;
  text-align: center;

}

.current {
  text-decoration: underline;
  color:red
}